@import '../../styles/_variables.scss';

.order-container {
	text-align: center;
	font-size: $fontSizeMedium;
	font-family: $fontFamily;

	.order {
		background: $lightYellow;
		margin: $paddingHuge $paddingHuge*3;
	}

	.order-item {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: $paddingTiny;
		height: 44px;
		border-bottom: 1px solid $orange;
	}

	.trash {
		height: 30px;
	}

	.button-kitchen {
		border: 2px solid $purple;
		color: $purple;
		background: transparent;
		padding: $paddingMedium;
		font-size: $fontSizeHuge;
		font-family: $fontFamily;
		width: 30%;
		border-radius: 5%;
	}
}