@import '../../styles/_variables.scss';

.list-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.list {
		width: 50%
	}

	.total {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		font-family: $fontFamily;
		font-size: $fontSizeHuge;
		padding: $paddingMedium;

		p {
			background: $lightYellow;
			padding: $paddingLarge $paddingHuge;
		}
	}
}